<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
(function() {
  const { createApp, ref, computed, onMounted } = Vue;

  createApp({
    setup() {
      const sections = ref(<?= json_encode($arResult['SECTIONS']) ?>);
      const elements = ref(<?= json_encode($arResult['ITEMS']) ?>);
      const selectedDistrict = ref({});
      const selectedInspection = ref({});
      const showData = ref(null);

      const setDefaultSelected = () => {
        selectedDistrict.value = sections.value.find(section => section.CODE === 'MNS') || {};
      };

      const clearSelectedInspection = () => {
        selectedInspection.value = {};
      };

      const getElementData = () => {
        const itemId = selectedInspection.value.ID || selectedDistrict.value.ID;
        showData.value = elements.value.find(el => el.IBLOCK_SECTION_ID === itemId) || null;
      };

      const inspections = computed(() => {
        return selectedDistrict.value.SECTIONS || [];
      });

      const handleDistrictChange = () => {
        clearSelectedInspection();
        getElementData();
      };

      onMounted(() => {
        setDefaultSelected();
        getElementData();
      });

      return {
        sections,
        selectedDistrict,
        selectedInspection,
        inspections,
        showData,
        handleDistrictChange,
        getElementData
      };
    }
  }).mount('#anti_corruption_meetings');
})();
</script>

<script>
(function() {
  const { createApp, ref, computed, onMounted } = Vue;

  createApp({
    setup() {
      const sections = ref(<?= json_encode($arResult['SECTIONS']) ?>);
      const elements = ref(<?= json_encode($arResult['ITEMS']) ?>);
      const selectedDistrict = ref({});
      const selectedInspection = ref({});
      const showData = ref(null);

      const setDefaultSelected = () => {
        selectedDistrict.value = sections.value.find(section => section.CODE === 'MNS') || {};
      };

      const clearSelectedInspection = () => {
        selectedInspection.value = {};
      };

      const getElementData = () => {
        const itemId = selectedInspection.value.ID || selectedDistrict.value.ID;
        showData.value = elements.value.find(el => el.IBLOCK_SECTION_ID === itemId) || null;
      };

      const inspections = computed(() => {
        return selectedDistrict.value.SECTIONS || [];
      });

      const handleDistrictChange = () => {
        clearSelectedInspection();
        getElementData();
      };

      onMounted(() => {
        setDefaultSelected();
        getElementData();
      });

      return {
        sections,
        selectedDistrict,
        selectedInspection,
        inspections,
        showData,
        handleDistrictChange,
        getElementData
      };
    }
  }).mount('#archive_anti_corruption_meetings');
})();
</script>

<div id="archive_anti_corruption_meetings">
    <form class="row g-4 mb-5">
        <div class="col-md-6">
            <div class="h6 mb-3">Выберите район</div>
            <div class="d-flex">
                <select class="select w-100" v-model="selectedDistrict" @change="handleDistrictChange">
                    <option v-for="section in sections" :key="section.ID" :value="section">
                        {{ section.NAME }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h6 mb-3">Выберите инспекцию</div>
            <select class="select w-100" v-model="selectedInspection" @change="getElementData">
                <option disabled value="">Выберите инспекцию</option>
                <option v-for="inspection in inspections" :key="inspection.ID" :value="inspection">
                  {{ inspection.NAME }}
                </option>
            </select>
        </div>
        <div class="col-md-6 d-flex flex-row align-items-center">
            <div class="d-flex flex-row w-100 position-relative">
                <input type="text" id="arrFilter_DATE_ACTIVE_FROM_1" name="arrFilter_DATE_ACTIVE_FROM_1" value="" size="10" class="cigarettes__input inputselect inputfield">
                <img src="/local/templates/main_template/components/bitrix/catalog.filter/cigarettes/img/calendar.svg" alt="Выбрать дату в календаре" class="calendar-icon position-absolute" onclick="BX.calendar({node:this, field:'arrFilter_DATE_ACTIVE_FROM_1', form: 'arrFilter_form', bTime: false, currentTime: '1724256576', bHideTime: true});" onmouseover="BX.addClass(this, 'calendar-icon-hover');" onmouseout="BX.removeClass(this, 'calendar-icon-hover');" border="0">
            </div>
            <span class="date-interval-hellip px-3 d-flex justify-content-center align-items-center">—</span>
            <div class="d-flex flex-row w-100 position-relative">
                <input type="text" id="arrFilter_DATE_ACTIVE_FROM_2" name="arrFilter_DATE_ACTIVE_FROM_2" value="" size="10" class="inputselect inputfield">
                <img src="/local/templates/main_template/components/bitrix/catalog.filter/cigarettes/img/calendar.svg" alt="Выбрать дату в календаре" class="calendar-icon position-absolute" onclick="BX.calendar({node:this, field:'arrFilter_DATE_ACTIVE_FROM_2', form: 'arrFilter_form', bTime: false, currentTime: '1724256576', bHideTime: true});" onmouseover="BX.addClass(this, 'calendar-icon-hover');" onmouseout="BX.removeClass(this, 'calendar-icon-hover');" border="0">
            </div>
        </div>
        <div class="col-md-6">
            <input class="button" type="button" value="Применить">
        </div>
    </form>

    <div class="table-mns-gray mb-4" v-if="showData">
        <table>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Место</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ showData.ACTIVE_FROM }}</td>
                    <td>{{ showData.PROPERTIES.TIME.VALUE }}</td>
                    <td>
                        <div>{{ showData.PROPERTIES.PLACE.VALUE }}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

BX.Vue.create({
//         el: '#telephoneSelectionApp',
//         data() {
//             return {
//                 sections: <?= json_encode($arResult['SECTIONS']) ?>,
//                 elements: <?= json_encode($arResult['ITEMS']) ?>,
//                 selectedDistrict: {},
//                 selectedInspection: {},
//                 showData: {}
//             }
//         },
//         methods: {
//             setDefaultSelected: function() {
//                 var self = this
//                 self.sections.map(function(section) {
//                     if (section.CODE === 'MNS') {
//                         self.selectedDistrict = section;
//                     }
//                 })
//             },
//             clearSelectedInspection: function() {
//                 this.selectedInspection = {}
//             },
//             getElementData: function() {
//                 let self = this
//                 // получаем id искомого элемента
//                 let itemId = self.selectedDistrict.ID
//                 // if (self.selectedInspection.ID) {
//                 //     itemId = self.selectedInspection.ID
//                 // }
//                 // проверка на наличее элемента
//                 self.showData = false;
//
//                 self.elements.map(function(el) {
//                     if (el.IBLOCK_SECTION_ID === itemId) {
//                         self.showData = el;
//                     }
//                 })
//             },
//             selectInspection: function () {
//                 let self = this
//
//                 //выбираем 1 элемент по id
//
//             }
//         },
//         computed: {
//             getInspections: function() {
//                 var self = this;
//                 var parentId = self.selectedDistrict.ID;
//                 var result = [];
//
//                 self.elements.map(function(el) {
//                     if (el.IBLOCK_SECTION_ID === parentId) {
//                         // self.showData = el;
//                         result.push(el)
//                     }
//                 })
//                 console.log(result);
//                 return result;
//             },
//
//             getPhones: function () {
//                 var self = this;
//
//
//             }
//
//         },
//         mounted: function() {
//             this.setDefaultSelected();
//             this.getElementData();
//         },
//         template: `
//
//                <div>
//                     <form class="row g-4 mb-5">
//                          <div class="col-md-5">
//                               <div class="h6 mb-3"><?= Loc::getMessage('SELECT_DISTRICT') ?> </div>
//                               <div class="d-flex">
//                               <select class="select" v-model="selectedDistrict" @change="clearSelectedInspection(); getElementData()">
//                                    <option v-for="section in sections" :value="section"> {{ section.NAME}} </option>
//                               </select>
//                               </div>
//                          </div>
//                          <div class="col-md-7">
//                               <div class="h6 mb-3"> <?= Loc::getMessage('SELECT_AN_AREA') ?> </div>
//                               <select class="select" v-model="selectedInspection" @change="selectInspection()" >
//                               <option disabled value=""> <?= Loc::getMessage('SELECT_INSPECTION') ?> </option>
//                               <option v-for="inspection in getInspections" :value="inspection" > {{ inspection.NAME }} </option>
//                               </select>
//
//                          </div>
//                     </form>
//                     <div class="table-mns-gray mb-4" v-if="showData" >
//                          <table>
//                               <tbody>
//                               <tr>
//                               <td> {{ showData.NAME }} </td>
//                                <td> {{ showData.PROPERTIES.INFO}} </td>
//                               <td>
//                                    <div v-for="telephone in showData.PROPERTIES.TEL" :key="telephone" > {{ showData.PROPERTIES.TEL.VALUE }} </div>
//                               </td>
//                               </tr>
//                               </tbody>
//                          </table>
//                     </div>
//                </div>
//           `,
//     });