.cigarettes {
  position: relative;

  &__label {
    font-weight: 600;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    padding: 10px 15px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
  }

  &__input--with-icon::after {
    content: "";
    background: url("../img/icons/calendar.svg");
    position: absolute;
    right: 10px;
    top: 17px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__month-picker {
    position: absolute;
    top: 75px;
    left: 20px;
  }

  &__table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__table {
    margin-top: 48px;
    width: 100%;
  }

  &__menu-item a.active .h6 {
    color: #007a65;
  }

  &__menu-item a.active .rounded-circle {
    background-color: #fbc469;
  }

  &__button {
    padding-block: 12px;
  }
}

table.cigarettes__table {
  overflow-y: scroll;
  width: 100%;
  border-collapse: collapse;
}

.cigarettes__table th,
.cigarettes__table td {
  padding: 16px;
  border-collapse: collapse;
}

.table-header {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;

  &__item th {
    border: 1px solid #ffffff;
  }

  &__item th:last-child {
    border-right: none;
  }

  &__price {
    font-size: 14px;
    width: 160px;
  }

  &__group {
    width: 160px;
    font-size: 14px;
  }
}

.month-picker {
  background: white;
  border: 1px solid #ccc;
  padding-inline: 10px;
  padding-bottom: 10px;
  z-index: 100;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    padding-block: 10px;
    border-bottom: 1px solid #ebebeb;
  }

  &__year {
    background-color: #ebebeb;
    border-radius: 10px;
    padding-block: 6px;
    padding-inline: 10px;
    font-size: 14px;
    color: #727270;
  }

  &__close-icon {
    padding: 2px;
    cursor: pointer;
    color: #727270;
  }

  & label {
    text-align: center;
    display: block;
    width: calc(33.333% - 10px);
    border-radius: 10px;
    padding-block: 5px;
    cursor: pointer;
    background-color: #ebebeb;
    color: #727270;
  }

  & label.checked {
    background-color: #007a65;
    color: #fafafa;
  }

  & input {
    display: none;
  }
}

.calendar-input {
  padding-right: 40px;
}

.row-gray {
  background-color: #ebebeb;
}

.row-no-data {
  text-align: center;
}

.organization-row {
  table-layout: fixed;
  background-color: #afcec6;
  font-weight: bold;
  text-align: left;
  color: #1a1a1a;
}

.type-row {
  background-color: #00654d;
  font-weight: bold;
  text-align: left;
  color: white;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #00654d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[v-cloak] {
  display: none;
}
.fs-14 {
  font-size: 14px;
}

.cigarettes-item {

	&__icon {
		width: 72px;
		height: 72px;
		background-color: transparent;
		position: relative;
		transition: all 0.3s ease 0s;
		
		&:after {
			content:'';
			width: 72px;
			height: 72px;
			background-color: $color-yellow;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			left: 0px;
			transform: scale(1.3);
			opacity: 0;
			z-index: -1;
			transition: transform 0.2s, opacity 0.3s;
	  }
	}
	
	&:hover {
      
		.h6 {
			color: $color-green-light;
		}

		.cigarettes-item__icon {
			background-color: $color-yellow;
			filter: drop-shadow(0px 4px 30px rgba(251, 196, 105, 0.34));

			&:after {
				transform: scale(1);
				opacity: 1;
		  }
		}
	}
}