.token-card-logo {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

.token-card-header {
  padding-bottom: 12px;
  border-bottom: 1px solid $color-gray-stroke;
}

.token-card-content {
  padding-top: 12px;
}

.dropdown-btn {
  padding: 6px 12px;
  background-color: $color-gray-light;
  border-radius: 10px;
  min-width: 150px;

  &::after {
    margin-left: 80px;
  }

  @media screen and (max-width: 576px) {
    min-width: 120px;
    &::after {
      margin-left: 55px;
    }
  }
}

#tv-attr-logo {
  display: none;
}
