.chart-container {
  min-height: 270px;
  max-height: 280px;
}

.token-card-logo {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;

  &__small {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
}

.token-card-header {
  padding-bottom: 12px;
  border-bottom: 1px solid $color-gray-stroke;
}

.token-card-content {
  padding-top: 12px;
}

.dropdown-btn {
  padding: 6px 12px;
  background-color: $color-gray-light;
  border-radius: 10px;
  min-width: 150px;

  &::after {
    position: absolute;
    right: 14px;
    top: 16px;
  }

  @media screen and (max-width: 576px) {
    min-width: 120px;
  }
}

.dropdown-btn__large {
  padding: 14px 16px;
  background-color: $color-gray-light;
  border-radius: 10px;
  min-width: 150px;
  width: 100%;

  &::after {
    position: absolute;
    right: 20px;
    top: 24px;
  }
}

.dropdown-search {
  position: relative;
}

.dropdown-search-input {
  border: 1px solid $color-gray-stroke;
  border-radius: 6px;
  padding: 4px;
  margin-inline: 12px;
}

.dropdown-search-icon {
  line-height: 0;
  position: absolute;
  right: 23px;
  top: 6px;
}

#tv-attr-logo {
  display: none;
}

.table-crypto-container {
  margin-top: 32px;
  overflow-x: scroll;
}

.mobile-w-100 {
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}

.table-crypto {
  td {
    padding: 16px;
  }

  thead td {
    background-color: $color-gray-light;
    font-weight: 600;
  }

  thead td:not(:last-child) {
    border-right: 1px solid $color-white;
  }

  thead td:first-child {
    border-top-left-radius: 10px;
  }

  thead td:last-child {
    border-top-right-radius: 10px;
  }

  tbody tr:nth-child(2) {
    background-color: $color-gray-light;
  }
}
