.landing-nalog {
	@media (max-width: $md3+px) {
	    .h2 {
			font-size: 22px;
		}
	}
}

body.lock {
	overflow: hidden;
}
.section-landing {
	margin: 0px 0px 70px 0px;

	@media (max-width: $md4+px) {
		margin: 0px 0px 50px 0px;
	}
}

.fz-14 {
	font-size: 14px;
}

.color-yellow {
	color: $color-yellow;
}

.color-gray {
	color: $color-gray;
}

.bg-yellow {
	background-color: $color-yellow;
}

.list-check-icon .tooltips-btn i {
	font-size: 16px;
}

.header-landing {
	padding: 20px 0px;
	background: url(../img/decor.jpg) 0 0 repeat;

	@media (max-width: $md4+px) {
		padding: 12px 0;
	}

	// .header-landing__link
	&__link {
		font-size: 18px;
		color: $color-green;
		font-weight: 600;

		&:hover {
			color: $color-green-light;
		}
	}
}

.header-logo {
	position: relative;
	z-index: 5;

	img {
		max-width: 50px;
		margin: 0 12px 0 0;
	}

	// .header-logo__name
	&__name {
		max-width: 260px;

		@media (max-width: 500px) {
		    display: none;
		}
	}

	// .header-logo__subtitle
	&__subtitle {
		color: $color-gray-dark;
		font-size: 12px;
		margin: 0 0 3px 0;
	}

	// .header-logo__title
	&__title {
		color: $color-black;
		font-size: 14px;
		font-weight: 600;
	}
}

.preview {
	padding-top: 80px;
	// .preview__info
	&__info {
		width: 100%;
		max-width: 825px;
	}

	// .preview__text
	&__text {
		font-size: 18px;
	}

	// .preview__img
	&__img {
		max-width: 335px;
	}
	@media (max-width: $md3+px) {
		padding-top: 40px;

		&__img {
			display: none;
		}

		.h1 {
			font-size: 22px;
		}
	}
}

.advantages-slider {
	margin: 0 -15px;
	// .advantages-slider__slide
	&__slide {
		padding: 0 15px;
	}

	.slick-arrow {
		font-size: 0;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background-color: #ffffff;
		box-shadow: 8px 8px 24px 0px rgba(136, 136, 136, 0.4);
		position: absolute;
		top: calc(50% - 27px);
		z-index: 2;

		&:before {
		    content:'';
			width: 14px;
			height: 14px;
			border-top: 3px solid $color-yellow;
			border-left: 3px solid $color-yellow;
		    position: absolute;

		}

		&:hover {
			background-color: $color-yellow;
			
			&:before {
				border-top: 3px solid $color-white;
				border-left: 3px solid $color-white;
			}
		}
	}

	.slick-prev {
		left: -10px;
		
		&:before {
			top: calc(50% - 7px);
			left: calc(50% - 5px);
			transform: rotate(-45deg);
		}
	}

	.slick-next {
		right: -10px;

		&:before {
			top: calc(50% - 7px);
			left: calc(50% - 9px);
			transform: rotate(135deg);
		}
	}
}

.item-advantage {
	height: 100%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;


	@media (hover: hover) {
		&:hover {
			.item-advantage__back {
				transform: translateY(0%);
			}
		}
	}

	// .item-advantage__front
	&__front {
		display: flex;
		justify-content: center;
		padding: 45px 0px;
		background-color: #ffffff;

		@media (hover: hover) {
			min-height: 265px;
		}
	}

	// .item-advantage__icon
	&__icon {
		width: 80px;
		height: auto;

		@media (max-width: $md4+px) {
			margin: 0px 0px 16px 0px;
		}
	}

	// .item-advantage__back
	&__back {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $color-white;
		text-align: center;
		background-color: $color-green;

		@media (hover: hover) {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
			transform: translateY(165px);
			transition: all 0.6s ease 0s;
		}
	}

	// .item-advantage__text
	&__text {
		padding: 16px 28px;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.quote {
	background-color: $color-green;
	border-radius: 0px 0px 400px 0px;
	display: flex;
	position: relative;

	// .quote__exclamation
	&__exclamation {
		padding-top: 18px;
		font-size: 90px;
		color: $color-yellow;
	}

	// .quote__text
	&__text {
		padding: 35px 90px 35px 0px;
		flex: 1 1 auto;
		color: $color-white;
	}

	// .quote__icon
	&__icon {
		font-size: 60px;
		color: $color-yellow;
		transform: rotate(180deg);
		position: absolute;
		top: -35px;
		right: 40px;
	}

	@media (max-width: $md2+px) {
		border-radius: 0px 0px 100px 0px;
	}
	
	@media (max-width: $md3+px) {
		border-radius: 0px 0px 50px 0px;

		&__exclamation {
			font-size: 50px;
		}
	}

}

.payments {
	// .payments__info
	&__info {
		width: 100%;
		max-width: 555px;
	}

	// .payments__img
	&__img {
		max-width: 335px;
	}
	@media (max-width: $md3+px) {
		&__img {
			display: none;
		}
	}
}

.item-tax-rates {
	height: 100%;
	padding: 0px 24px 8px;
	color: $color-white;
	background-color: $color-green;
	border-radius: 0px 200px 0px 0px;
	
	@media (max-width: $md3+px) {
		padding: 0px 16px 8px;
		border-radius: 0px 100px 0px 0px;
	}

	// .item-tax-rates__count
	&__count {
		font-size: 64px;
		font-weight: 700;
	}

	ul {
		padding-left: 0;
		list-style-type: none;

		li {
			padding-left: 18px;
			position: relative;

			&:before {
				content: "";
				width: 9px;
				height: 2px;
				background-color: $color-white;
				position: absolute;
				left: 0;
				top: 10px;
			}

			&:not(:last-child) {
		    	margin: 0px 0px 12px 0px;
			}
		}
	}

	// .item-tax-rates_yellow
	&_yellow {
		color: $color-black;
		background-color: $color-yellow;

		ul li:before {
			background-color: $color-black;
		}
	}
}

.item-tax-benefits {
	padding: 24px 40px;
	border: 1px solid $color-gray-light;
	border-radius: 0px 10px 10px 10px;

	// .item-tax-benefits__title
	&__title {
		position: relative;

		&:before {
			content: "";
			width: 9px;
			height: 2px;
			background-color: $color-green;
			position: absolute;
			left: -18px;
			top: 13px;
		}
	}
	
	@media (max-width: $md3+px) {
		padding: 16px 30px;

		&__title {
			font-size: 18px;
		}
	}
}

.item-become-payer {
	position: relative;
	// .item-become-payer__icon
	&__icon {
		margin: 0 auto;
		width: 100px;
		height: 100px;
		background-color: $color-yellow;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 25px 25px 25px 0px;

		img {
			max-width: 60px;
		}
	}

	// .item-become-payer__text
	&__text {
		font-size: 14px;
	}
	

	
	@media (min-width: 768px) {
		&:before {
			width: 167px;
			height: 32px;
			content:'';
			position: absolute;
			z-index: 2;
		}

		&_first:before {

			background: url('../img/landing-nalog/icons/ellipse-top.svg') 0 0 no-repeat;
			top: 0;
			right: -91px;
		}

		&_second:before {
			background: url('../img/landing-nalog/icons/ellipse-bottom.svg') 0 0 no-repeat;
			top: 72px;
			right: -91px;
		}
	}
}

.become-payer-info {
	border-radius: 40px 40px 40px 0px;

	&__link {
		&:hover {
		    i:before {
				transform: translateX(-3px);
			}
		}
	}
}

.item-tax-amount {
	// .item-tax-amount__icon
	&__icon {
		flex: 0 0 58px;
		height: 58px;
		border-radius: 10px 10px 10px 0px;
	}

	// .item-tax-amount__info
	&__info {
		border: 1px solid $color-yellow;
		border-radius: 0px 10px 10px 10px;
	}
}

.question-landing {
	.accordion-question {
		border-radius: 0px 10px 10px 10px;
		background-color: $color-green-light;

		&__btn,
		&__row i.bi-question-circle {
			color: $color-white;
		}
	}
}


