@media screen and (max-width: 1200px) {
	.section-landing > .d-flex{
		flex-direction: column;
	}
}

.mobile-prev{
     // width: 100%;
     @include adaptiv-value("max-width", 202, 10, 1);
}

@media screen and (max-width: 995px) {
     .mobile-prev{
          @include adaptiv-value("max-width", 202, 50, 1);
     }
}

.section-landing {
	margin: 0px 0px 80px 0px;

	@media (max-width: $md4+px) {
		margin: 0px 0px 50px 0px;
	}

	.preview__img{
		@include adaptiv-value("min-width", 259, 150, 1);
	}
}

.sidebar-mobile{
     margin-left: 0px;
}

// main{
//      *{outline: 1px solid red;}
// }

// .container {
//      max-width: 1500px !important;
// }

.mobile-ul{
     width: 100%;
     max-width: 100%;
}

.mobile-landing:has(.tab-content){
     ul{
          list-style-type: none;
     }
}