$color-black: #1A1A1A;
$color-white: #FAFAFA;
$color-green-light: #007A65;
$color-green: #00654D;
$color-green-dark: #014A37;
$color-gray-light: #EBEBEB;
$color-gray: #9D9F9E;
$color-gray-dark: #727270;
$color-red: #E31E25;
$color-red-dark: #BC2222;
$color-vinous: #9A231D;
$color-yellow: #FBC469; 
