.item-content {
   margin: 0px 0px 60px 0px;
}
.item-block {
	border-radius: 10px;
   background-color: $color-white;

   &__title {
      padding: 0px 0px 16px 0px;
      margin: 0px 0px 24px 0px;
      border-bottom: 7px solid $color-green-light;

      &_accordion {
         color: $color-green-light;

         &.collapsed {
            margin: 0;
            color: $color-black;

            i:before {
               transform: rotate(-90deg);
            }
         }

         &:hover {
            color: $color-green-light;
         }
      }

		&_link {
			margin: 0;
			
			&:hover {
            color: $color-green-light;
         }
		}
   }

   &__link {
      color: $color-black;
      font-weight: 600;

      &:hover {
         color: $color-green-light;
      }
   }
}
.management-item {
   border-radius: 10px;
   background-color: $color-gray-light;

   &_main {
		width: 100%;
      max-width: 530px;
      margin: 0 auto;
		
      .management-item__photo {
			width: 151px;
         height: 181px;
      }
   }
	
   &__photo {
		margin: 0px 20px 0px 0px;
      width: 133px;
      height: 160px;
      border-radius: 10px;
		
      @media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
      }
   }

	&:hover {
		color: $color-green;

		.h4,
		.h5,
		.h6 {
			color: $color-green;
		}
	}
}
.nav-tab-contacts {
	@media (max-width: $md3+px) {
		display: none;
	}

	&__link {
		flex: 0 1 20%;

		&.active,
		&:hover {
			.nav-tab-contacts__icon {
				color: $color-white;
				background-color: $color-green-light;
			}
		}

		@media (max-width: $md3+px) {
			padding: 10px 15px;
		}
	}


   &__icon {
      width: 120px;
      height: 120px;
      background-color: $color-gray-light;
      color: $color-green-light;
      font-size: 40px;
      transition: all 0.3s ease 0s;

		@media (max-width: 1100px) {
			width: 80px;
      	height: 80px;
			font-size: 30px;
		}

		@media (max-width: $md3+px) {
			display: none;
		}
   }
}
.address-tab {
   &__head {
      font-size: 18px;
      color: $color-green-light;

      i {
         font-size: 50px;
      }
   }

   iframe {
      border-radius: 10px;
      max-width: 100%;
   }

   &__title {
      border-bottom: 1px solid $color-gray-light;
   }

   a:hover {
      color: $color-green;
   }
}
.contact-tab {
	i {
		color: $color-green-light;
	}

	a:hover {
		color: $color-green-light;
	}

	&__title {
      border-bottom: 1px solid $color-gray-light;
   }

	&__text-link {
		color: $color-green;
		text-decoration: underline;
	}
}
.work-mode-tab {
   &__head {
      font-size: 18px;
      color: $color-green-light;

      i {
         font-size: 50px;
      }
   }

   &__line {
      position: relative;
      border-bottom: 1px dashed $color-black;

      span {
         bottom: -5px;
         background-color: $color-white;
      }
   }

   &__text {
      position: relative;
      padding: 0px 5px 0px 0px;
      margin: 0px 150px 0px 0px;
   }

   &__time {
      padding: 0px 0px 0px 5px;
      position: absolute;
      right: 0;
   }
}
.book-tab {
   &__head {
      font-size: 18px;
      color: $color-green-light;

      i {
         font-size: 50px;
      }
   }

   &__text {
      font-size: 16px;
      color: $color-black;
   }
}
.reception-tab {
   &__head {
		i {
			font-size: 58px;
			color: $color-green-light;
		}
   }

	.table-mns-gray {
		margin: 0 -24px;
	
		@media (max-width: $md3+px) {
			margin: 0 -8px;
		}
	}
}
.sidebar {
   &__list {
      border-radius: 10px;
      background-color: $color-gray-light;

      li {
         list-style: none;

         &:not(:last-child) {
            margin: 0px 0px 30px 0px;
         }

         @media (max-width: $md3+px) {
            &:not(:last-child) {
               margin: 0px 0px 15px 0px;
            }
         }

         a:hover {
            color: $color-green-light;
         }

         a.active {
            color: $color-green-light;
            pointer-events: none;
         }
      }

		@media (max-width: $md3+px) {
			min-height: 125px;
		}
   }

   &__link-block {
      border-radius: 10px;
      background-color: $color-green-light;
      box-shadow: 0px 4px 30px 0px rgba(0, 122, 102, 0.34);
      color: $color-white;

		i {
			font-size: 24px;
		}

      &:hover {
         color: $color-white;
         background-color: $color-green-dark;
      }

		&_gray {
			color: $color-black;
			background-color: $color-gray-light;
      	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
			
			i {
				color: $color-green-light;
			}

			&:hover {
				color: $color-black;
				background-color: $color-gray;
			}
		}

		&.hidden {
			display: none !important;
		}
   }
}
.general-information-tabs {
   align-items: flex-end;
   margin: 0px 0px 24px 0px;

   &__link {
      width: 250px;
      height: 50px;
      padding: 15px 50px;
      font-size: 14px;
      text-align: left;
      position: relative;
      transition: all 0s ease 0s;

      &:hover {
         color: $color-black;
      }

      &:nth-child(1) {
         &.active {
            margin: 0px 0px 0px -7px;
         }
      }
      &:nth-child(2) {
         margin: 0px 0px 0px -40px;
      }

      &:before {
         content: '';
         width: 250px;
         height: 50px;
         background: url('../img/icons/tab-02.png') 0 0 no-repeat;
         position: absolute;
         left: 0;
         bottom: 0;
         z-index: 1;
      }

      &.active {
         width: 306px;
         height: 68px;
         padding: 30px 50px 15px;
         font-size: 16px;
         font-weight: 600;

         &:before {
            width: 306px;
            height: 68px;
            background: url('../img/icons/tab-01.png') left bottom no-repeat;
            z-index: 2;
         }
      }

      span {
         text-align: left;
         position: relative;
         z-index: 3;
      }
   }

   @media (max-width: $md3+px) {
      display: block;
      margin: 0;

      &__link,
      .general-information-tabs__link.active {
         width: 100%;
         height: auto;
         font-size: 18px;
         font-weight: 400;
         display: block;
         margin: 0;
         padding: 10px 35px 10px 15px;

         &:before {
            display: none;
         }

         &:nth-child(2) {
            margin: 0px;
         }
      }
   }
}
.history-tab {
   ul li {
      list-style-type: disc;
   }
}
.executives-tab {
   .management-item:hover {
      background-color: $color-green-light;
      color: $color-white;
   }
}
.mass-media {
	i {
		color: $color-green-light;
	}

	a:hover {
		color: $color-green-dark;
	}
}
.photo-press-media {

		&__photo {
			border-radius: 10px;
			flex: 1 1 auto;

			img {
				max-width: 180px;
			}
		}

		&__date {
			color: $color-gray-dark;
		}

		&__name {
			min-height: 42px;
		}

		&__link {
			color: $color-green-light;

			i:before {
				transition: all 0.3s ease 0s;
			}

			&:hover {
				color: $color-green-dark;

				i:before {
					transform: translateY(3px);
				}
			}
		}
}
.printed-editions {

	&__photo {
		border-radius: 10px;
		flex: 1 1 auto;
		filter: drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
	}

	&__name {
		min-height: 48px;
	}
}
.composition {

	&__head {
		border-right: 2px solid $color-gray-light;

		@media (max-width: $md4+px) {
			border: none;
		}
	}
}
.accordion-btn {
	padding: 0px 0px 12px 0px;
   margin: 0px 0px 16px 0px;
   border-bottom: 1px solid $color-gray-light;
   color: $color-green-light;

	&.collapsed {
		margin: 0;
		color: $color-black;

		i:before {
			transform: rotate(-90deg);
		}
	}

	&:hover {
		color: $color-green-light;
	}
}
.accordion-link {
	&:hover {
		color: $color-green-light;
	}
}
.item-supervisor-photo {
	max-width: 300px;
}
.item-supervisor-date {
	flex: 0 0 150px;
}
// ================================================================================
.payable-taxes-item {

	&__icon {
		width: 80px;
		height: 80px;
		background-color: transparent;
		position: relative;
		transition: all 0.3s ease 0s;
		
		&:after {
			content:'';
			width: 80px;
			height: 80px;
			background-color: $color-yellow;
			border-radius: 50%;
			position: absolute;
			top: 0px;
			left: 0px;
			transform: scale(1.3);
			opacity: 0;
			z-index: -1;
			transition: transform 0.2s, opacity 0.3s;
	  }
	}
	
	&:hover {
		.h6 {
			color: $color-green-light;
		}

		.payable-taxes-item__icon {
			background-color: $color-yellow;
			// filter: drop-shadow(0px 4px 30px rgba(0, 122, 101, 0.34));
			filter: drop-shadow(0px 4px 30px rgba(251, 196, 105, 0.34));

			&:after {
				transform: scale(1);
				opacity: 1;
		  }
		}
	}
}
.nav-tab-declaration {

	@media (max-width: $md3+px) {
		display: none;
	}

	&__link {
		flex: 0 1 50%;

		&.active,
		&:hover {
			.nav-tab-declaration__icon {
				color: $color-white;
				background-color: $color-green-light;
			}
		}

		@media (max-width: $md3+px) {
			padding: 10px 15px;
		}
	}


   &__icon {
      width: 120px;
      height: 120px;
      background-color: $color-gray-light;
      color: $color-green-light;
      font-size: 50px;
      transition: all 0.3s ease 0s;

		@media (max-width: $md3+px) {
			display: none;
		}
   }
}
.declaration-content a:hover {
	color: $color-green-light;
}

.list-check-icon {
	li {
		list-style-type: none;

		i {
			font-size: 30px;
			color: $color-green-light;
		}
	}
}
