.footer {
	background-color: $color-green-dark;
	color: $color-white;

	a:hover {
		color: $color-white;
		opacity: 0.7;
	}

	&__body {
		display: flex;
		align-items: center;

		@media (max-width: 1300px) {
			display: block;
		}
	}

	&__heraldry {
		max-width: 90px;

		@media (max-width: $md3+px) {
			max-width: 50px;
		}
	}

	&__title {
		font-size: 24px;
		margin: 0px 70px 0px 0px;
		max-width: 340px;

		@media (max-width: 1300px) {
			margin: 0;
			max-width: 100%;
		}

		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}

	&__content {
		flex: 1 1 auto;

		@media (max-width: 1300px) {
			margin: 24px 0px 0px 0px;
		}
	}

	&__link-social {
		margin: 0px 0px 0px 12px;

		&:first-child {
			margin: 0;
		}

		&:hover {
			img {
				transform: translateY(-3px);
			}
		}
	}

	.link-author {
		font-size: 14px;
	}
}

