
.analitics-form {
	display: flex;
	justify-content: space-between;

	&__left {
		flex: 1 1 auto;
		margin: 0px 60px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 30px 0px 0px;
		}
	}

	&__right {
		flex: 0 0 215px;
	}

	@media (max-width: $md3+px) {
		display: block;

		&__left {
			margin: 0px 0px 16px 0px;
		}

		&__right {
			width: 215px;
		}
	}
}
.form-label {
	font-size: 18px;
	color: $color-gray-dark;
}
.form-select {
	width: 100%;
	padding: 20px 60px 20px 18px;
	font-size: 18px;
	color: $color-black;
	font-weight: 600;
	border: 1px solid $color-gray-dark;
	background-color: $color-white;
	border-radius: 10px;
	cursor: pointer;
	appearance: none;
	background: url("../img/icons/chevron-down.svg") no-repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: 30px;

	@media (max-width: $md3+px) {
		padding: 15px 40px 15px 10px;
		background-size: 20px;
	}

	&:hover {
		color: $color-green-light;
	}

	&:focus {
		color: $color-green-light;
		background-color: $color-white;
		border-color: $color-green-light;
		box-shadow: none;
		outline: none; 
	} 

	option {
		color: $color-black;
	}

	&::-ms-expand {
		display: none;
	}
}

.search {

	&__row {
		position: relative;

		i {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}

	&__input,
	&__date {
		width: 100%;
		padding: 8px 40px 8px 8px;
		border: 1px solid $color-white;	
		border-radius: 4px;
		transition: all .3s ease 0s;
		
		&:focus {
			border: 1px solid $color-gray;	
		}
	}

	&__date {
		padding: 8px 8px 8px 8px;
	}

	// &__label {
	// 	padding: 8px;
	// 	height: 80%;
	// 	width: 70%;
	// 	background-color: #fff;
	// 	border-radius: 10px;
	// 	position: absolute;
	// 	top: 10%;
	// 	left: 2px;
	// 	z-index: 2;
	// }
}
