
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
 	-webkit-box-shadow: 0 0 0 30px $color-white inset !important;
}
.analitics-form {
	display: flex;
	justify-content: space-between;

	&__left {
		flex: 1 1 auto;
		margin: 0px 60px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 30px 0px 0px;
		}
	}

	&__right {
		flex: 0 0 215px;
	}

	@media (max-width: $md3+px) {
		display: block;

		&__left {
			margin: 0px 0px 16px 0px;
		}

		&__right {
			width: 215px;
		}
	}
}
.form-label {
	font-size: 18px;
	color: $color-gray-dark;
}
.form-select {
	width: 100%;
	padding: 20px 60px 20px 18px;
	font-size: 18px;
	color: $color-black;
	font-weight: 600;
	border: 1px solid $color-gray-dark;
	background-color: $color-white;
	border-radius: 10px;
	cursor: pointer;
	appearance: none;
	background: url("../img/icons/chevron-down.svg") no-repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: 30px;

	@media (max-width: $md3+px) {
		padding: 15px 40px 15px 10px;
		background-size: 20px;
	}

	&:hover {
		color: $color-green-light;
	}

	&:focus {
		color: $color-green-light;
		background-color: $color-white;
		border-color: $color-green-light;
		box-shadow: none;
		outline: none; 
	} 

	option {
		color: $color-black;
	}

	&::-ms-expand {
		display: none;
	}
}
.search {

	&__row {
		position: relative;

		i {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}

	&__input,
	&__date {
		width: 100%;
		padding: 8px 40px 8px 8px;
		border: 1px solid $color-white;	
		border-radius: 4px;
		transition: all .3s ease 0s;
		
		&:focus {
			border: 1px solid $color-gray;	
		}
	}

	&__date {
		padding: 8px 8px 8px 8px;
	}

	// &__label {
	// 	padding: 8px;
	// 	height: 80%;
	// 	width: 70%;
	// 	background-color: #fff;
	// 	border-radius: 10px;
	// 	position: absolute;
	// 	top: 10%;
	// 	left: 2px;
	// 	z-index: 2;
	// }
}
.checkbox {
	position: relative;
	margin: 0;	
 
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked + .checkbox__text {
			color: $color-green-light;
		}

		&:checked + .checkbox__text:before {
			background-color: $color-green-light;
		}

		&:checked + .checkbox__text:after {
			content: "";
			width: 10px;
			height: 15px;
			border-bottom: 2px solid $color-white;
			border-right: 2px solid $color-white;
			transform: rotate(45deg);
			position: absolute;
			left: 6px;
			top: 0px;
		 }
	}

	&__text {
		display: inline-flex;
		position: relative;
		line-height: calc(22 / 16);
		cursor: pointer;

		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 22px;
			left: 0;
			top: 0;
			width: 22px;
			height: 22px;
			background-color: transparent;
			border-radius: 4px;
			border: 1px solid $color-green-light;
		 }
	 }

}
.questionnaire {
	margin: 0px 0px 34px 0px;
	display: block;

	&__nav-link {
		flex: 0 1 20%;
		padding: 14px 8px;
		color: $color-green-light;
		font-weight: 600;
		background-color: #F8F8F8;
		text-align: center;

		&.active {
			color: $color-black;
		}
	}

	@media (min-width: 768px) {
		display: flex;
		border: 1px solid $color-green-light;
		border-radius: 10px;
		overflow: hidden;

		
		&__nav-link {
			border-right: 1px solid $color-green-light;
			
			&:last-child {
				border: none;
			}

			&.active {
				color: $color-white;
				background-color: $color-green-light;
			}
		}
	}
}
.form-questionnaire {

	&__line {
		position: relative;
	}
	
	&__input,
	&__select {
		width: 100%;
		padding: 12px 16px;
		background-color: transparent;
		border: 1px solid $color-gray-light;
		border-radius: 4px;
		transition: all 0.3s ease 0s;
		position: relative;
		z-index: 2;

		&:hover,
		&:focus {
			border: 1px solid $color-green-light;
		}
	}

	&__input {
		&::placeholder {
			color: transparent;
		}

		&:focus ~ .form-questionnaire__label {
			font-size: 12px;
			color: $color-green-light;
			top: -8px;
			z-index: 3;
		}

		&:not(:placeholder-shown) ~ .form-questionnaire__label {
			font-size: 12px;
			color: $color-green-light;
			top: -8px;
			z-index: 3;
		}
	}

	&__select {
		cursor: pointer;
		appearance: none;
		background: url("../img/icons/chevron-down.svg") no-repeat;
		background-position: right .7em top 50%, 0 0;
		background-size: 20px;

		&:hover,
		&:focus {
			color: $color-green-light;
			outline: none;
		} 

		option {
			color: $color-black;
		}

		&::-ms-expand {
			display: none;
		}
	}
	
	&__label {
		padding: 0 5px;
		background-color: $color-white;
		font-size: 16px;
		color: $color-gray-dark;
		position: absolute;
		left: 12px;
		top: 13px;
		z-index: 1;
		transition: all 0.3s ease 0s;
	}
}
.file-input {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	z-index: -1;
	
	&__label {
		width: 100%;
		padding: 30px;
		color: $color-gray-dark;
		border: 1px dashed #6B737A;
		border-radius: 4px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		position: relative;
		
	  &:hover {
		  color: $color-green-light;
		  border: 1px solid #6B737A;
	  }
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
	}

	&__btn-remove {
		color: $color-gray-dark;
		font-size: 30px;
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 5px;
		right: 5px;
		
		&:hover {
			color: $color-green-light;
			transform: rotate(180deg) scale(1.2);
		}
	}
}
.e-nds-form {
	display: flex;

	&__column {
		flex: 0 0 400px;
	}

	&__column-center {
		margin: 0 16px;
		flex: 1 1 auto;
	}

	&__line {
		margin: 0px 0px 24px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__input,
	&__textarea {
		width: 100%;
		padding: 12px 16px;
		background-color: $color-gray-light;
		border: 1px solid $color-gray-light;
		border-radius: 4px;
		transition: all 0.3s ease 0s;

		&:hover,
		&:focus {
			background-color: $color-white;
			border: 1px solid $color-green-light;
		}
	}
}
.captcha-ends-form {
	border-radius: 4px;
	background-color: $color-gray-light;

	&__link {
		font-size: 12px;
	}

	&__img {
		width: 200px;
		height: 50px;
		background-color: #fff;
	}

	&__label {
		font-size: 12px;
	}

	&__input {
		width: 200px;
		padding: 4px 8px;
		background-color: $color-white;
		border: 1px solid $color-gray-light;
		border-radius: 4px;
		transition: all 0.3s ease 0s;

		&:hover,
		&:focus {
			border: 1px solid $color-green-light;
		}
	}
}
.file-e-nds-form {
	width: 70px;
	height: 44px;

	&__file-input {
		width: 0.1px;
		height: 0.1px;
		overflow: hidden;
		opacity: 0;
		position: absolute;
		z-index: -1;
	}

	&__label {
		width: 100%;
		height: 100%;
		background-color: $color-gray-light;
		border: 1px solid $color-gray-light;
		border-radius: 4px;
		cursor: pointer;
		display: flex;
		justify-content:center;
		align-items: center;

		i:before {
			font-size: 20px;
			transform: rotate(45deg);
		}
		
		&:hover {
			background-color: $color-white;
			color: $color-green-light;
			border: 1px solid $color-green-light;
		}
	}
}

