.arrow {
   position: relative;
	cursor: pointer;

   &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-top: 2px solid #FAFAFA;
      border-right: 2px solid #FAFAFA;
      position: absolute;
      top: 33%;
      right: 0;
      z-index: 1;
   	transform: rotate(135deg);
	}

	&.show-block {
		&:before {
			transform: rotate(-45deg);
			top: 49%;
		}
	}

	&-right {
		&:before {
			transform: rotate(45deg);
      }
		
		&-black {
			&:before {
				border-color: #1A1A1A;
				transform: rotate(45deg);
         }
      }

		&-grey {
			&:before {
				border-color: #9D9F9E;
				transform: rotate(45deg);
         }
      }
   }
}
