.item-inspectorate {
	margin: 0px 0px 30px 0px;

	&__item {
		height: 100%;
		padding: 30px;
		background-color: #EBEBEB;
		border-radius: 10px;
	}

	p {
		font-size: 18px;
		margin: 0px 0px 15px 0px;
	}

	a {
		color: #1A1A1A;
		font-weight: 600;

		&:hover {
			color: #007A65;
			text-decoration: underline;
		}
	}
}
