//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Open Sans', sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 564.98;
$md5: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
@import "variables";
body {
	color: $color-black;
	font-size: 16px;
   line-height: 1.35;

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	width: 100%;
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
@import "ui";
// @import "slick";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";

@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "search-inspectorate";
@import "item-inspectorate";
@import "about";
@import "inspectorates";
@import "personal-area";
@import "structura";
@import "table";
@import "bvi";
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	position: relative;
	
	&__decor {
		background: url('../img/decor.jpg') 0 0 repeat;

		&:before {
			content:'';
			width: 100%;
			height: 214px;
			background-color: $color-green-light;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.content {
	position: relative;
	z-index: 1;
}
//===================================================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
.main-menu {
	padding: 30px 0px;
	
	&__item {
		background-color: $color-gray-light;
		transition: all 0.3s ease 0s;
		border-radius: 10px;
		color: $color-black;
		font-weight: 600;
		font-size: 18px;
		
		&:hover {
			background-color: $color-green;
			color: $color-white;
		}
	}

	&__text {
		flex: 1 1 auto;
	}
}
.services {
	padding: 0px 0px 30px 0px;

	.btn-accord {
		opacity: 0.7;
		
		i:before {
			transform: rotate(0deg);
		}

		&.active {
			opacity: 1;

			i:before {
				transform: rotate(90deg);
			}
		}
	}
}
.item-services,
.item-actual {
	background-color: $color-gray-light;
	border-radius: 10px;

	img {
		min-width: 65px;

		@media (max-width: $md4+px) {
			min-width: auto;
			max-width: 40px;
		}
	}

	&:hover {
		background-color: $color-green-light;

		.h5 {
			color: $color-white;
		}
	}
}
.tax-inspectorates {
	background-color: $color-gray-light;

	&__body {
		padding: 40px 60px 40px 90px;
		border-radius: 10px;
		background-color: $color-white;

		@media (max-width: 1432px) {
			padding: 40px;
		}

		@media (max-width: $md4+px) {
			padding: 20px;
		}
	}

	&__title {
		color: $color-green-light;
	}

	&__link {
		color: $color-black;
		font-size: 14px;

		i {
			color: $color-green-light;
		}

		&:hover {
			color: $color-green-light;
		}
	}
}
.map-inspectorates {

	svg {
		text-align: center;
		display: block;
		margin: 0 auto;

		@media (max-width: $md2+px) {
			max-width: 600px;
		}
	}
	path {
		fill: $color-green-light;
		stroke: $color-white;
		stroke-width: 5px;
		stroke-linejoin: round;
		transform: matrix(0.5099,0,0,0.5099,0,0);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		
		&:hover {
			fill: $color-yellow;
		}
	}
}

.main-news {
	padding: 30px 0px;
	background-color: $color-green-light;

	&__wrapper {
		display: grid;
		gap: 10px;
		grid-template-columns: 3fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		@media (max-width: 1200px) {
			grid-template-columns: 2fr 2fr;
			grid-template-rows: 1fr 1fr 1fr;
		}

		@media (max-width: $md3+px) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
		}
	}

	&__item {
		border-radius: 10px;
		padding: 39% 0px 0px 0px;
		color: $color-white;

		@media (max-width: $md4+px) {
			padding: 75% 0px 0px 0px;
		}

		&:before {
			content:'';
			background-color: #000000;
			opacity: 0.4;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
			transition: all 0.3s ease 0s;
		}

		&:hover:before {
			opacity: 0;
		}

		&:hover {
			color: $color-white;
		}
		
		&_big {
			grid-row-start: 1;
			grid-row-end: 3; 

			@media (max-width: 1200px) {
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 1;
				grid-column-end: 3;
			}

			@media (max-width: $md3+px) {
				grid-column-start: 1;
				grid-column-end: 2;
			}

			@media (min-width: 1200px) {
				.main-news__info {
					left: 30px;
					bottom: 30px;
				}

				.main-news__label {
					left: 30px;
					top: 30px;
				}

				.h5 {
					font-size: 30px;
				}
				
				.main-news__date {
					font-size: 16px;
				}
			}
		}
		
		&_mid {
			grid-column-start: 2;
			grid-column-end: 4;

			@media (min-width: 1200px) {
				.main-news__info {
					left: 30px;
					bottom: 30px;
				}

				.main-news__label {
					left: 30px;
					top: 15px;
				}
			}

			@media (max-width: 1200px) {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 3;
				grid-row-end: 4;
			}

			@media (max-width: $md3+px) {
				grid-column-end: 2;
				grid-row-start: 4;
				grid-row-end: 5;
			}
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
		transition: all 0.3s ease 0s;
	}

	&__label {
		font-size: 14px;
		color: $color-white;
		padding: 3px 15px;
		background-color: $color-yellow;
		border-radius: 10px;
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 2;
	}

	&__info {
		margin: 0px 20px 0px 0px;
		position: absolute;
		left: 15px;
		bottom: 15px;
		z-index: 2;
	}

	&__date {
		font-size: 14px;
		font-weight: 600;
	}
}
.ref-info {
	background-color: $color-green;

	.btn-accord {
		
		i:before {
			transform: rotate(-180deg);
		}
		
		&.collapsed {
			i:before {
				transform: rotate(0deg);
			}
		}
	}
}
.partners {
	padding: 50px 0;
	background-color: #ffffff;

	&__slide {
		
		&:hover img {
			filter: grayscale(0%);
			opacity: 1;
		}
		
		img {
			max-width: 100%;
			position: relative;
			transition: all 0.3s ease 0s;
			opacity: 0.5;
			filter: grayscale(100%);
		}
	}
}

