//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Open Sans', sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 564.98;
$md5: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
@import "variables";
body {
	color: $color-black;
	font-size: 16px;
   line-height: 1.35;

	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	width: 100%;
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
@import "ui";
// @import "slick";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "forms";

@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "search-inspectorate";
@import "tax-calc";
@import "about";
@import "news";
@import "inspectorates";
@import "personal-area";
@import "structura";
@import "table";
@import "ends";
@import "bvi";
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	position: relative;

	&__decor {
		background: url('../img/decor.jpg') 0 0 repeat;

		&:before {
			content:'';
			width: 100%;
			height: 214px;
			background-color: $color-green-light;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.page-404 {
	padding: 60px 0px;

	img {
		width: 100%;
		max-width: 730px;
	}

	@media (max-width: $md3+px) {
		padding: 30px 0px;
	}
}
.content {
	position: relative;
	z-index: 1;
}
//===================================================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
.main-menu {
	padding: 30px 0px 50px;

	&__item {
		background-color: $color-gray-light;
		transition: all 0.3s ease 0s;
		border-radius: 10px;
		color: $color-black;
		font-weight: 600;
		font-size: 18px;

		&:hover {
			background-color: #ffffff;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
	}

	img {
		max-width: 180px;
	}
}
.services {
	padding: 0px 0px 80px 0px;
}
.item-services {
	background-color: $color-gray-light;
	border-radius: 10px;

	img {
		max-width: 85px;
	}

	&:hover {
		background-color: #ffffff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
}
.main-info {
	padding: 50px 0px 50px;

	&__body {
		display: flex;
		margin: 0 -5px 10px;

		@media (max-width: 1200px) {
			display: block;
		}
	}
}
.actual {
	flex: 0 1 60%;
	padding: 0 5px;

	@media (max-width: 1200px) {
		margin: 0px 0px 48px 0px;
		width: 100%;
	}

	&__row {
		background-color: $color-gray-light;
	}

	&__item {
		&:hover {
			background-color: $color-white;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}

		img {
			max-height: 150px;
		}
	}
}
.clarifications {
	padding: 0 5px;
	flex: 0 1 40%;
	overflow: hidden;

	@media (max-width: 1200px) {
		width: 100%;
	}
}
.slider-clarifications {
	background-color: $color-gray-light;
	border-radius: 10px;
	position: relative;

	&__icon {
		width: 70px;
	}

	&__date {
		font-size: 12px;
		color: $color-gray-dark;
	}

	&__link {

		&:hover {
			color: $color-green-light;
		}
	}

	.slick-dots {
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		position: absolute;
		left: 50%;
		bottom: 0px;
		transform: translateX(-50%);

		button {
			font-size: 0;
		}

		li {
			margin: 4px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: transparent;
			border: 1px solid $color-green-light;
			cursor: pointer;

			&.slick-active {
				background-color: $color-green-light;
			}
		}
	}

	.slick-arrow {
		display: none !important;
	}
}
.clarifications-button {
	font-size: 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	i {
		font-size: 28px;
		color: $color-green-light;
	}

	&_prev {
		left: 12px;
	}

	&_next {
		right: 12px;
	}

	&:hover {
		i {
			color: $color-green-dark;
		}
	}

	@media (max-width: $md4+px) {
		display: none;
	}
}
.tax-inspectorates {
	background-color: $color-gray-light;

	&__body {
		padding: 40px 60px 40px 90px;
		border-radius: 10px;
		background-color: $color-white;

		@media (max-width: 1432px) {
			padding: 40px;
		}

		@media (max-width: $md4+px) {
			padding: 20px;
		}
	}

	&__title {
		color: $color-green-light;
	}

	&__link {
		color: $color-black;
		font-size: 14px;

		i {
			color: $color-green-light;
		}

		&:hover {
			color: $color-green-light;
		}
	}
}
.map-inspectorates {

	svg {
		text-align: center;
		display: block;
		margin: 0 auto;

		@media (max-width: $md2+px) {
			max-width: 600px;
		}
	}
	path {
		fill: $color-green-light;
		stroke: $color-white;
		stroke-width: 5px;
		stroke-linejoin: round;
		transform: matrix(0.5099,0,0,0.5099,0,0);
		transition: all 0.3s ease 0s;
		cursor: pointer;

		&:hover {
			fill: $color-yellow;
		}
	}
}
.ref-info {
	background-color: $color-green;

	.btn-accord {

		i:before {
			transform: rotate(-180deg);
		}

		&.collapsed {
			i:before {
				transform: rotate(0deg);
			}
		}
	}
}
.panalty-rate {
	width: 215px;
}
.partners {
	padding: 50px;
	background-color: #ffffff;

	.slick-track {
		display: flex;
		align-items: center;
	}

	&__slide {
		margin: 0 10px;

		&:hover img {
			filter: grayscale(0%);
			opacity: 1;
		}

		img {
			margin: 0 auto;
			position: relative;
			transition: all 0.3s ease 0s;
			opacity: 0.5;
			filter: grayscale(100%);
		}
	}

	.slick-arrow {
		font-size: 0;
		width: 30px;
		height: 30px;
		border-top: 3px solid $color-gray-light;
		border-left: 3px solid $color-gray-light;
		position: absolute;
		top: 50%;
		margin: -15px 0px 0px 0px;

		&:hover {
			border-color: $color-gray;
		}
	}

	.slick-prev {
		transform: rotate(-45deg);
		left: 25px;
	}

	.slick-next {
		transform: rotate(135deg);
		right: 25px;
	}
}
.modal.show {
	background-color: rgba(0, 0, 0, 0.493);
}
#browserUnsupport {
	.modal-dialog {
		max-width: 680px;
		box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.25);
	}

	.modal-content {
		flex-direction: row;
		border-radius: 10px;
		border: none;
	}

	.close {
		font-size: 30px;
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 1;
	}

	.icon {
		flex: 0 0 45px;
	}
}
.notification {
	padding: 25px;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	right: 0;
	bottom: -200%;
	z-index: 1000;
	transition: all 1s ease 0s;

	@media (max-width: $md4+px) {
		padding: 15px;
	}

	&.open {
		opacity: 1;
		visibility: visible;
		bottom: 0;
	}

	&__body {
		width: 100%;
		max-width: 620px;
		background-color: $color-gray-light;
		border-radius: 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 4px rgba(9, 47, 40, 0.21);
		padding: 20px 40px 20px 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;

		@media (max-width: $md4+px) {
			padding: 15px 40px 15px 15px;
			display: block;
		}
	}

	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;

		i:before {
			font-size: 30px;
			color: $color-green;
			transition: all 0.5s ease 0s;
		}

		&:hover {
			i:before {
				transform: rotate(90deg);
			}
		}
	}

	&__info {
		margin: 0px 55px 0px 0px;
		font-weight: 600;

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__link {
		position: relative;

		img {
			width: 110px;
			height: 203px;
			position: absolute;
			left: 50%;
			bottom: 100%;
			transform: translateX(-40%);

			@media (max-width: $md4+px) {
				display: none;
			}
		}
	}
}
.children-about-taxes {
	background-color: $color-gray-light;
	border-radius: 10px;
	font-weight: 600;
	color: $color-green-light;

	&__icon {
		flex: 0 0 35px;
		height: 35px;
		background: url('../img/icons/icon-magic-book.svg') 0 0 no-repeat;
		transition: all 0.3s ease 0s;
	}

	&__read {
		font-weight: normal;
		color: $color-gray;
	}

	&:hover {
		color: $color-yellow;
		background-color: $color-green-light;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		.children-about-taxes__icon {
			background: url('../img/icons/icon-magic-book-yellow.svg') 0 0 no-repeat;
		}

		.children-about-taxes__read {
			color: $color-yellow;
		}
	}
}
.children-about-taxes-video {
	margin: 0 auto;
	max-width: 800px;
	padding: 33% 0 0 0;
	position: relative;
	border-radius: 10px;
	overflow: hidden;

	iframe {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
figure audio {
	width: 100%;
}

.vacancies {
	margin: 100px -24px -24px;

	&__content {
		padding: 35px 250px 35px 55px;
		background-color: $color-green-light;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		position: relative;
		color: $color-white;
	}

	&__btn {
		padding: 10px 24px;
		display: inline-block;
		color: $color-white;
		border: 1px solid $color-white;
		border-radius: 10px;

		&:hover {
			color: $color-yellow;
			border-color: $color-yellow;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: 75px;
	}

	@media (max-width: $md3+px) {
		margin: 100px -8px -8px;

		&__img {
			position: absolute;
			bottom: 0;
			right: 35px;
		}
	}

	@media (max-width: 600px) {
		margin: 70px -8px -8px;

		&__content {
			padding: 20px;
		}

		&__img {
			display: none;
		}
	}
}

.mobile-app {

	&__icon {
		flex: 0 0 242px;
		margin: 0px 70px 0px 20px;

		@media (max-width: 1100px) {
			margin: 0px 00px 0px 20px;
		}

		@media (max-width: $md3+px) {
			display: none;
		}
	}
}
.link-online-test {
	height: 100%;
	padding: 32px;
	border-radius: 10px;
	border: 1px solid $color-gray;
	display: flex;
	flex-direction: column;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		i.bi-arrow-right {
			transform: translateX(5px);
		}
	}

	// .link-online-test__img
	&__img {
		text-align: center;
	}
	i.bi-arrow-right {
		transition: all 0.3s ease 0s;
		display: inline-block;
	}

}