.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	color: $color-black;
	font-weight: 600;
	line-height: 1.35;
}
.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
	color: $color-white;
}
.h1 {
	font-size: 30px;
}
.h2 {
	font-size: 26px;
}
.h3 {
	font-size: 22px;
}
.h4 {
	font-size: 20px;
}
.h5 {
	font-size: 18px;
}
.h6 {
	font-size: 16px;
}
.color-black {
	color: $color-black;
}
.color-white {
	color: $color-white;
}
.color-green {
	color: $color-green-light;
}
.border-bottom-gray {
	border-bottom: 1px solid $color-gray-light;
}
.border-radius-10 {
	border-radius: 10px;
}
.bg-color-white {
	background-color: $color-white;
}
.bg-color-green {
	background-color: $color-green;
}
.bg-color-gray-light {
	background-color: $color-gray-light;
}
.date {
	font-size: 12px;
	color: $color-gray;
}
a:hover {
	color: $color-green-light;
}
.ordered-list {
	li { list-style-type: none; }
	ol { counter-reset: list1; }
	ol li:before {
	 counter-increment: list1;
	 content: counter(list1) ". ";
	}
	ol ol { counter-reset: list2; }
	ol ol li:before {
	 counter-increment: list2;
	 content: counter(list1) "." counter(list2) ". ";
	}
	ol ol ol { counter-reset: list3; }
	ol ol ol li:before {
	 counter-increment: list3;
	 content: counter(list1) "." counter(list2) "." counter(list3) ". ";
	}
}
.button {
	display: inline-block;
	padding: 11px 28px;
	color: $color-white;
	font-size: 16px;
	text-align: center;
	background-color: $color-green-light;
	border-radius: 10px;
	white-space: nowrap;
	cursor: pointer;

	&:hover {
		color: $color-white;
		background-color: $color-green;
	}

	&_green {
		background-color: $color-green;

		&:hover {
			background-color: $color-green-dark;
		}
	}

	&_white {
		background-color: $color-white;
		color: $color-green-light;

		&:hover {
			color: $color-green-light;
			background-color: #e6e6e6;
		}
	}
}
.btn-accord {
	color: $color-black;
	font-size: 20px;
	font-weight: 700;

	&:hover {
		color: $color-black;
		opacity: 0.7;
	}

	&_white {
		color: $color-white;

		&:hover {
			color: $color-white;
		}
	}
}
.hidden-block {
   position: absolute;
	z-index: 5;
   transform: translateY(30px);
   transition: all 0.3s ease 0s;
   opacity: 0;
   visibility: hidden;
}
.header__overlay._active {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: all 0.3s ease 0s;
   background: rgba(245, 245, 245, 0.94);
   z-index: 2;
}
._show-block {
   & + .hidden-block {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
   }
}
.link-nav {
	display: block;
	padding: 10px 0 10px 15px;
	font-size: 16px;
	color: $color-white;
	position: relative;
	transition: all 0.3s ease 0s;

	&:before {
		content:'';
		width: 4px;
		height: 4px;
		border-radius: 3px;
		background-color: $color-white;
		position: absolute;
		top: 18px;
		left: 0px;
	}

	&:hover {
		color: $color-white;
		opacity: 0.7;

		&:before {
			opacity: 0.7;
		}
	}

	&_black {
		color: $color-black;

		&:before {
			background-color: $color-black;
		}

		&:hover {
			color: $color-black;
			opacity: 0.7;

			&:before {
				opacity: 0.7;
			}
		}
	}
}
.link {
	font-size: 18px;
	color: $color-white;
	position: relative;

	&:before {
		content:'';
		width: 0%;
		height: 2px;
		background-color: $color-white;
		opacity: 0.7;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: all 0.3s ease 0s;
	}


	i:before {
		transition: transform 0.3s ease 0.1s;
	}

	&:hover {
		color: $color-white;
		opacity: 0.7;

		&:before {
			width: 100%;
		}

		i:before {
			transform: translateX(20px);
		}
	}

	&_black {
		color: $color-black;

		&:before {
			background-color: $color-black;
		}

		&:hover {
			color: $color-black;
			opacity: 0.7;
		}
	}
}
.link-enternal {
	padding: 12px;
	display: flex;
	align-items: center;
	color: $color-green-light;
	border-radius: 10px;
	background-color: $color-gray-light;

	i {
		font-size: 50px;
	}

	&:hover {
		background-color: rgba(235, 235, 235, 0.5);
	}

	@media (max-width: $md4+px) {
		flex-direction: column;
	}
}
.link-external {
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $color-gray-light;
	border-radius: 10px;
	font-weight: 600;

	i.first {
		transition: transform 0.3s ease 0s;
		transform: translateX(17px);
	}

	&:hover {
		background-color: $color-green-light;
		color: $color-yellow;

		i.first {
			transform: translateX(27px);
		}
	}

	@media (max-width: $md4+px) {
		padding: 16px;
	}
}
.link-download {
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	background-color: $color-gray-light;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 4px #FFFFFF, inset 8px 0px 0px #007A65;
	transition: all 0.3s ease 0s;

	&__text {
		margin: 0px 16px 0px 0px;
		display: flex;
		align-items: center;
	}

	&__date {
		margin: 0px 0px 8px 0px;
		font-size: 12px;
		color: $color-gray;
	}

	&__icon {
		display: flex;
		align-items: center;
		color: $color-green;
	}

	.bi-download {
		color: $color-green-light;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 4px #FFFFFF, inset 8px 0px 0px #007A65;

		.bi-download {
			transform: translateY(3px);
		}
	}

	@media (max-width: $md4+px) {
		padding: 16px;
		justify-content:center;
		flex-wrap: wrap;

		&__text {
			margin: 0px 0px 16px 0px;
			display: flex;
			align-items: center;
		}
	}
}
.link-block-more-details {
	background-color: $color-gray-light;
	border-radius: 10px;

	i:before {
		color: $color-green-light;
	}

	&:hover {
		background-color: #ffffff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		.h6 {
			transition: all 0.3s ease 0s;
		}

		.link-block-more-details__btn {

			i::before {
				transform: translateX(5px);
			}
		}
	}

	&__btn {
		color: $color-green-light;
		font-size: 14px;
		transition: all 0.3s ease 0s;
	}
}
.breadcrumb {
	margin: 30px 0px;
	padding: 0;
	align-items: center;
	background-color: transparent;

	&-item {
		+.breadcrumb-item {
			padding: 0px;
		}

		&:before {
			display: none;
		}

		a {
			color: $color-white;
			font-size: 14px;

			&:hover {
				opacity: 0.7;
			}
		}

		&.active {
			padding: 0;
			font-size: 14px;
			color: $color-white;
			opacity: 0.7;
		}
	}
}
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.attention {
	background-color: $color-gray-light;
	border-radius: 10px;
	filter: drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));

	i {
		font-size: 40px;
		color: $color-green-light;
	}
}
.tooltips-btn i {
	color: $color-green-light;
	cursor: pointer;
}
.tooltip.show  {
	opacity: 1;
}
.tooltip .arrow {
	display: none;
}
.tooltip-inner {
	max-width: 240px;
	padding: 10px;
   font-size: 12px;
	color: $color-black;
	text-align: left;
	background-color: $color-gray-light;
	border-radius: 10px;
	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
}
.item-card-download {
	background-color: $color-gray-light;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 4px #FFFFFF, inset 8px 0px 0px #007A65;

	&_clarification {

		.item-card-download__icon {
			max-width: 110px;

			@media (max-width: $md4+px) {
				display: none;
			}
		}


	}
	transition: all 0.3s ease 0s;

	.bi-download {
		color: $color-green-light;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 4px #FFFFFF, inset 8px 0px 0px #007A65;

		.bi-download {
			transform: translateY(3px);
		}
	}
}
.tag-link {
	padding: 8px;
	font-size: 14px;
	color: $color-black;
	border: 1px solid $color-green-light;
	border-radius: 4px;

	&:hover {
		border-color: $color-black;
	}
}
@media only screen and (max-width: 767px) {
   .tab-to-dropdown {
      position: relative;
      margin: 0px 0px 20px 0px;
   }

   .selected-tab {
      width: 100%;
      text-align: left;
      position: relative;
      font-size: 20px;
      font-weight: 600;
      padding: 10px 35px 10px 15px;
      color: $color-black;
      background-color: $color-white;
      border-bottom: 3px solid $color-gray-light;

      &:after {
         display: block;
         content: '';
         position: absolute;
         top: calc(50% - 8px);
         right: 15px;
         width: 10px;
         height: 10px;
         border-bottom: 2px solid $color-black;
         border-right: 2px solid $color-black;
         transform: rotate(45deg);
      }
   }

   .converted-tab {
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 0;
      width: 100%;
      background: $color-white;
      box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
   }

	.nav-tab {
		a {
			display: block;

			&.active {
            background-color: $color-gray-light;
            position: relative;

            &:after {
               content: '';
               position: absolute;
               top: 35%;
               right: 15px;
               width: 12px;
               height: 7px;
               border-bottom: 2px solid $color-black;
               border-left: 2px solid $color-black;
               transform: rotate(-45deg);
            }
         }
		}
	}
}
.nav-tab-mns {
	border-bottom: 1px solid $color-gray-light;
	margin: 0px 0px 24px 0px;
	align-items: flex-end;
	box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

	@media (max-width: $md3+px) {
		display: block;
		border: none;
		margin: 0;
	}

	&__link {
		width: 100%;
		padding: 10px 35px 10px 15px;

		@media (min-width: $md3+px) {
			flex: 0 1 50%;
			background-color: $color-white;
			padding: 16px;
			position: relative;
			text-align: center;
			margin-bottom: 4px;
			z-index: 1;

			&.active {
				z-index: 2;
				font-weight: 600;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				margin-bottom: -1px;
				padding: 24px 16px;
				box-shadow: rgba(0, 0, 0, 0.07) 0px -1px 1px, rgba(0, 0, 0, 0.07) 0px -2px 2px, rgba(0, 0, 0, 0.07) 0px -4px 4px;
			}

			&_col-3 {
				flex: 0 1 30%;
			}

			&_col-7 {
				flex: 0 1 70%;
			}
		}

		&:hover {
			color: $color-black;
		}
	}
}

.nav-tab-circle {
	align-items: flex-start;

	&__link {
		padding: 10px 15px;
		font-weight: 600;

      &.active,
      &:hover {
         .nav-tab-circle__icon {
            background-color: $color-green-light;
            color: $color-white;
         }
      }

		@media (min-width: $md3+px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
		}
   }

   &__icon {
      width: 120px;
      height: 120px;
      background-color: $color-gray-light;
      color: $color-green-light;
      font-size: 40px;
      transition: all 0.3s ease 0s;
		margin: 0px 0px 16px 0px;
		display: flex;
		justify-content:center;
		align-items: center;
		border-radius: 50%;

		@media (max-width: $md2+px) {
			margin: 0px 0px 8px 0px;
		}


		@media (max-width: $md2+px) {
			width: 80px;
      	height: 80px;
			font-size: 30px;
		}

		@media (max-width: $md3+px) {
			display: none;
		}
   }
}

.select-tab {

	&__nav {
	}

	&__box {
		border: 1px solid $color-gray-light;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:hover {
			border: 1px solid $color-gray-dark;
		}
	}
}
.select-tab-content {

}


.nav-tab-vertical {
	flex-wrap: nowrap;

	&__nav-list {
		display: flex;
		flex-direction: column;
		background-color: $color-gray-light;
		border-radius: 10px;
	}

	&__link {
		flex: 0 0 100%;
		background-color: $color-gray-light;
		color: $color-black;
		border-radius: 10px;

		&.active {
			position: relative;
			z-index: 2;
			flex: 0 0 103%;
			color: $color-white;
			background-color: $color-green;
			border-radius: 10px;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.2);

			&:hover {
				background-color: $color-green;
			}
		}

		&:hover {
			background-color: $color-gray;
		}
	}

	@media (max-width: $md3+px) {
		display: none;
	}
}
.nav-accordion-link {
	width: 100%;
	margin: 0px 0px 8px 0px;
	background-color: $color-gray-light;
	color: $color-black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	i:before {
		transition: transform 0.3s ease 0s;
	}

	&.d_active {
		position: relative;
		z-index: 2;
		flex: 0 0 103%;
		color: $color-white;
		background-color: $color-green;
		border: none;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.2);

		i:before {
			transform: rotate(180deg);
		}
	}

	@media (min-width: $md3+px) {
		display: none;
	}
}
.requisites {
	margin: 0px 0px 60px 0px;

	&__nav-tab {

	}

	&__nav-link {
		padding: 45px 30px;
		font-weight: normal;
		text-align: center;
		background-color: transparent;

		&.active {
			background-color: $color-white;
		}

		@media (max-width: $md3+px) {
			padding: 25px;
		}
	}

	&__tab-accordion {
		width: 100%;
		padding: 20px;
		font-weight: normal;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		border-bottom: 1px solid $color-gray;

		&_last {
			border-bottom: none;

			&.d_active {
				border-bottom: 1px solid $color-gray;
			}
		}


		@media (min-width: $md3+px) {
			display: none;
		}

		i {
			font-size: 20px;
			margin-left: 10px;

			&:before {
				transition: all 0.3s ease 0s;
			}
		}

		&.d_active {
			color: #2B9140;

			i:before {
				transform: rotate(180deg);
			}
		}
	}

	.tab-pane {
		background-color: $color-white;
		padding: 40px 30px 10px;

		@media (max-width: $md4+px) {
			padding: 30px 20px 10px;
		}
	}
}
.accordion-question {
	background-color: $color-gray-light;
	border-radius: 10px;
	margin: 0px 0px 24px 0px;

	&:last-child {
		margin: 0px 0px 0px 0px;
	}

   &__btn {
		width: 100%;
		font-size: 16px;
		color: $color-green-light;
		display: flex;
		align-items: center;
      padding: 24px 36px;

		i {
			font-size: 20px;
			transition: all 0.3s ease 0s;
		}

		&.collapsed {
			margin: 0;

			i.bi-chevron-down {
				transform: rotate(-90deg);
			}
		}

		@media (max-width: $md4+px) {
			padding: 16px;
		}
   }

	&__wrapper {
		padding: 0 16px 16px;
	}

	&__body {
		padding: 24px;
		background-color: $color-white;
		border-radius: 10px;
		position: relative;

		&:before {
			content:'';
			width: 0;
			height: 0;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-bottom: 16px solid $color-white;
			position: absolute;
			left: 65px;
			top: -16px;
		}

		@media (max-width: $md4+px) {
			padding: 16px;

			&:before {
				left: 25px;
			}
		}
	}

	&__row {
		flex: 1 1 auto;
		display: flex;
		align-items: center;

		i {
			color: $color-green-light;
			font-size: 30px;
		}
	}
}