<!DOCTYPE html>
<html lang="ru">
  @@include('_head.html',
  { "title":"Архив документов" })
  <body>
    <div class="wrapper" id="app">
      @@include('_header.html',{})

      <main class="page page__decor">
        <div class="content px-2">
          <nav aria-label="breadcrumb">
            <div class="container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item mr-3">
                  <a href="index.html">Главная<i class="bi-chevron-right ml-2"></i></a>
                </li>
                <li class="breadcrumb-item mr-3">
                  <a href="actual.html"
                    >Актуальное
                    <i class="bi-chevron-right ml-2"></i>
                  </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Архив документов</li>
              </ol>
            </div>
          </nav>

          <div class="item-content">
            <div class="container">
              <section class="item-block px-md-4 px-2 py-4">
                <h4 class="item-block__title h4 mb-4">Архив документов</h4>

                <div class="row mx-n2 mt-4 cigarettes__menu">
                  <div
                    class="col-sm-6 col-md-4 px-2 pt-4 d-flex align-items-center cigarettes__menu-item"
                  >
                    <a
                      class="d-flex align-items-center"
                      href="info-about-applicable-max-retail-cigarettes-prices.html"
                    >
                      <div class="d-flex align-items-center px-2">
                        <span
                          class="d-flex align-items-center justify-content-center rounded-circle p-3"
                        >
                          <img src="./img/icons/decret.svg" alt="icon-2643" />
                        </span>
                        <p class="h6 text-left ml-2">
                          Информация о применяемых максимальных розничных ценах за одну пачку
                          сигарет с фильтром
                        </p>
                      </div>
                    </a>
                  </div>
                  <div
                    class="col-sm-6 col-md-4 px-2 pt-4 d-flex align-items-center cigarettes__menu-item"
                  >
                    <a
                      class="d-flex align-items-center border-end border-start border-success"
                      href="info-about-declared-max-retail-cigarettes-prices.html"
                    >
                      <div class="d-flex align-items-center px-2">
                        <span
                          class="d-flex align-items-center justify-content-center rounded-circle p-3"
                        >
                          <img src="./img/icons/apply.svg" alt="icon-2643" />
                        </span>
                        <p class="h6 text-left ml-2">
                          Информация о заявленных максимальных розничных ценах за одну пачку сигарет
                          с фильтром и соответствии этих цен одной из двух ценовых групп, а также о
                          дате начала их применения
                        </p>
                      </div>
                    </a>
                  </div>
                  <div
                    class="col-sm-6 col-md-4 px-2 pt-4 d-flex align-items-center cigarettes__menu-item"
                  >
                    <a class="d-flex align-items-center" href="cigarettes-archive.html">
                      <div class="d-flex align-items-center">
                        <span
                          class="d-flex align-items-center justify-content-center rounded-circle p-3"
                        >
                          <img src="./img/icons/archive.svg" alt="icon-2643" />
                        </span>
                        <p class="h6 text-left ml-2">Архив документов</p>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="container mt-5">
                  <form class="row cigarettes d-flex align-items-end mb-5" action="#" method="POST">
                    <input type="hidden" name="selectedYear" :value="selectedYear" />
                    <input type="hidden" name="selectedMonths" :value="selectedMonths.join(',')" />
                    <div class="col-md-4 mb-3">
                      <div class="d-inline-flex flex-column w-100">
                        <label class="cigarettes__label">Выберите период</label>

                        <div
                          class="cigarettes__input-container cigarettes__input--with-icon"
                          @click.stop="handleOpen"
                        >
                          <input
                            class="cigarettes__input calendar-input"
                            type="text"
                            v-model="period"
                            readonly
                          />
                        </div>
                      </div>
                      <div
                        class="cigarettes__month-picker month-picker row"
                        v-if="showMonthPicker"
                        ref="monthPicker"
                        v-cloak
                      >
                        <div class="month-picker__header">
                          <select
                            class="month-picker__year-select"
                            v-model="selectedYear"
                            name="selectedYear"
                          >
                            <option v-for="year in yearOptions" :key="year" :value="year">
                              {{ year }}
                            </option>
                          </select>
                          <span class="month-picker__close-icon" @click="handleClose"
                            >&#10006;</span
                          >
                        </div>

                        <label
                          class="month-picker__label"
                          v-for="month in monthOptions"
                          :key="month.value"
                          :class="{ 'checked': selectedMonths.includes(month.value) }"
                        >
                          <input
                            class="month-picker__input"
                            type="checkbox"
                            :value="month.value"
                            v-model="selectedMonths"
                            @change="updatePeriod"
                            name="selectedMonths"
                          />
                          {{ month.label }}
                        </label>
                      </div>
                    </div>

                    <div class="col-md-4 mb-3">
                      <div class="d-inline-flex flex-column w-100">
                        <label class="cigarettes__label" for="typeSelect">Тип информации</label>
                        <select
                          class="cigarettes__input"
                          id="typeSelect"
                          v-model="selectedType"
                          name="selectedType"
                        >
                          <option selected="selected" value="all">Все</option>
                          <option value="declared">Заявленные максимальные розничные цены</option>
                          <option value="applicable">
                            Применяемые максимальные розничные цены
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4 mb-3">
                      <input
                        class="cigarettes__button button w-100"
                        type="submit"
                        value="Применить"
                      />
                    </div>
                  </form>

                  <a href="#" class="link-download mb-4 mt-1 py-4" download>
                    <div class="link-download__text">
                      <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                      <div>
                        Информация о заявленных максимальных розничных ценах на сигареты с фильтром
                        с 1 января 2024 года
                      </div>
                    </div>
                    <div class="link-download__icon">
                      <i class="bi bi-download mr-2"></i>
                      <div>Скачать</div>
                    </div>
                  </a>

                  <a href="#" class="link-download mb-4 mt-1 py-4" download>
                    <div class="link-download__text">
                      <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                      <div>
                        Информация о заявленных максимальных розничных ценах на сигареты с фильтром
                        с 1 января 2024 года
                      </div>
                    </div>
                    <div class="link-download__icon">
                      <i class="bi bi-download mr-2"></i>
                      <div>Скачать</div>
                    </div>
                  </a>

                  <a href="#" class="link-download mb-4 mt-1 py-4" download>
                    <div class="link-download__text">
                      <i class="bi bi-file-earmark-text-fill h2 mr-2"></i>
                      <div>
                        Информация о заявленных максимальных розничных ценах на сигареты с фильтром
                        с 1 января 2024 года
                      </div>
                    </div>
                    <div class="link-download__icon">
                      <i class="bi bi-download mr-2"></i>
                      <div>Скачать</div>
                    </div>
                  </a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>

      @@include('_footer.html', {})
    </div>
    @@include('_js.html', {})
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <script>
      const { createApp, ref, computed, onMounted, onBeforeUnmount, onBeforeMount } = Vue;

      createApp({
        setup() {
          const currentYear = new Date().getFullYear();

          const monthOptions = [
            { label: "Январь", value: "1" },
            { label: "Февраль", value: "2" },
            { label: "Март", value: "3" },
            { label: "Апрель", value: "4" },
            { label: "Май", value: "5" },
            { label: "Июнь", value: "6" },
            { label: "Июль", value: "7" },
            { label: "Август", value: "8" },
            { label: "Сентябрь", value: "9" },
            { label: "Октябрь", value: "10" },
            { label: "Ноябрь", value: "11" },
            { label: "Декабрь", value: "12" },
          ];

          const yearOptions = computed(() => {
            const startYear = currentYear - 5;
            const endYear = currentYear + 5;
            return Array.from({ length: endYear - startYear + 1 }, (_, i) => startYear + i);
          });

          const selectedMonths = ref(["1", "2", "3"]);
          const selectedType = ref("all");
          const selectedGroup = ref("all");
          const monthPicker = ref(null);
          const period = ref("");
          const selectedYear = ref(currentYear);
          let showMonthPicker = ref(false);
          let loading = ref(false);

          const updatePeriod = () => {
            const periods = selectedMonths.value
              .map(
                (month) => monthOptions.find((monthObject) => monthObject.value === month)?.label
              )
              .filter((label) => label !== undefined)
              .join(", ");

            period.value = periods;
          };

          const handleClickOutside = (event) => {
            if (monthPicker.value && !monthPicker.value.contains(event.target)) {
              showMonthPicker.value = false;
            }
          };

          const handleClose = () => {
            showMonthPicker.value = false;
          };

          const handleOpen = () => {
            showMonthPicker.value = true;
          };

          onMounted(() => {
            document.addEventListener("click", handleClickOutside);
            loading = false;
          });

          onBeforeUnmount(() => {
            document.removeEventListener("click", handleClickOutside);
          });

          onBeforeMount(() => {
            loading = true;
            updatePeriod();
          });

          const getMonthLabel = (month) => {
            const monthOption = monthOptions.find((option) => option.value === month);
            return monthOption ? monthOption.label : "";
          };

          return {
            currentYear,
            monthOptions,
            selectedMonths,
            getMonthLabel,
            selectedType,
            period,
            showMonthPicker,
            monthPicker,
            updatePeriod,
            handleClose,
            loading,
            handleOpen,
            yearOptions,
            selectedYear,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
